body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(128, 128, 128);
}

#frame {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(82, 82, 82);
    border-radius: 4px;
    box-shadow: 0 1px 5px -1px #555;
    padding: 20px;
    text-align: center;
    color: white
}


input {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
    outline: none;
    border: 4px;
    border-radius: 6px;
    padding: 6px;
}

button {
    font-size: 20px;
    outline: none;
    border: 1px solid black;
    border-radius: 8px;
    padding: 6px;
    cursor: pointer;
}

button:hover {
    background-color: greenyellow;
    color: #555;
}

#errorBox {
    background-color: red;
    color: white;
    width: 450px;
    padding: 15px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    display: none;
    top: 26px;
    left: calc(50% - 240px);
}

#errorBox h4 {
    margin-top: 0;
    color: black;
    background-color: red;
}

#errorBox button:hover {
    background-color: #555;
    color: white;
}

.redBorder {
    border: 2px solid red;
}